<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - wdos</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <meta author="Matt Fry" />
    <meta property="og:image" content="~/assets/preview.png" />
    <meta property="og:url" content="www.mattfry.io" />
    <meta property="og:title" content="Command Prompt - Matt Fry.IO" />
    <meta property="og:description" content="The personal portfolio page for me, Matt Fry, a Blue Prism Certified RPA Developer,
    Full Stack Web Developer with experience in both Java and .NET.  Sometimes I like to pretend I'm Warren Buffet and make wild trades on Robinhood." />

    <link rel="shortcut icon" href="assets/icons/computer-3.png" type="image/png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="~/css/dos.css">
    <link rel="stylesheet" type="text/css" href="~/css/win95.css">


</head>

@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">wdos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@

@RenderBody()




@RenderSection("Scripts", required: false)

</html>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/dospromptmethods.js"></script>
<script src="~/js/dosprompt.js"></script>
<script src="~/js/stockquoteprompt.js"></script>
<script src="~/js/moneymachine.js"></script>