@{
    ViewData["Title"] = "Home Page";
}



@*<head>
    <meta charset="utf-8">
    <title>Matt Fry Dot IO </title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <meta author="Matt Fry" />
    <meta property="og:image" content="~/assets/preview.png" />
    <meta property="og:url" content="www.mattfry.io" />
    <meta property="og:title" content="Command Prompt - Matt Fry.IO" />
    <meta property="og:description" content="The personal portfolio page for me, Matt Fry, a Blue Prism Certified RPA Developer,
    Full Stack Web Developer with experience in both Java and .NET.  Sometimes I like to pretend I'm Warren Buffet and make wild trades on Robinhood." />

    <link rel="shortcut icon" href="assets/icons/computer-3.png" type="image/png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="~/css/dos.css">
    <link rel="stylesheet" type="text/css" href="~/css/win95.css">


</head>*@
<body class="load-container" id="dos-container">
    <div class="dos-prompt-container">
        <p class="dos-output">Matt Fry.IO [Version 2.0]</p>
    </div>
    <div class="dos-prompt-container">
        <p class="dos-output">(C) Copyright 2019-2020 Matt Fry. All rights reserved.</p>

    </div>
    <div class="dos-prompt-container">
        <p class="prompt-label">C:></p>
        <input type="text" id="dosPrompt" class="dos-prompt-input" autofocus />

        <!-- <p class="loading" id="dosprompt"></p> -->
    </div>
    <a href="~/index_main.html"><img class="win-load" id="win95" src="~/assets/images/win95loading.gif"></a>

    <!-- <div class="dos-gui-menu">
        <div class="dos-gui-titlebar">HELP MENU<span class="dos-close">X</span></div>
        <div class="dos-gui-menubar">Matt Fry.IO Commands</div>
        <div class="dos-gui-content">

                <span>win - Open the portfolio page of Matt Fry</span>
                <span>exit - return to some other website.</span>


        </div>
    </div> -->



</body>

@*<script src="~/js/dospromptmethods.js"></script>
<script src="~/js/dosprompt.js"></script>
<script src="~/js/stockquoteprompt.js"></script>
<script src="~/js/moneymachine.js"></script>*@

